@use "./SCSS/partials/colors" as c;
@use "./SCSS/partials/variables" as v;
@use "./SCSS/partials/media-queries" as q;

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: c.$orange-light;
  &__content {
    width: v.$text-width;
    &__links {
      display: flex;
      justify-content: flex-end;
      gap: 1.2em;
      a {
        color: c.$grey-dark;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.hero {
  height: 150px;
  background-color: c.$orange-light;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    width: v.$text-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-size: 2em;
    }
    &__subtitle {
      font-size: 1.2em;
    }
  }
}

.skills {
  //height: 250px;
  background-color: c.$grey-dark;
  color: c.$orange-light;
  display: flex;
  justify-content: center;
  padding: v.$section-padding;
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: v.$text-width;
    &__title {
      font-size: v.$section-title-size;
    }
    &__items {
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: baseline;
      gap: 4em;
      &__card {
        color: c.$orange-light;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
      }
    }
  }
}

.projects {
  background-color: c.$orange-light;
  color: c.$grey-dark;
  display: flex;
  justify-content: center;
  padding: v.$section-padding;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: v.$text-width;
    gap: 20px;
    &__title {
      font-size: v.$section-title-size;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.2em;
    }
  }

  .card {
    background-color: c.$grey-dark;
    color: c.$orange-light;
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      font-size: v.$section-title-size;
    }
    &__body {
      @include q.phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      @include q.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      @include q.large-tablet {
        display: flex;
        flex-direction: row;
        ustify-content: start;
        padding: 10px;
      }
      @include q.laptop {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 10px;
      }
      @include q.desktop {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 10px;
      }
      &__img {
        display: flex;
        justify-content: center;
        width: 50%;
      }
      .img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &__text {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
    &__links {
      display: flex;
      gap: 20px;
    }
  }
}

.education {
  background-color: c.$grey-dark;
  color: c.$orange-light;
  display: flex;
  justify-content: center;
  padding: v.$section-padding;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: v.$text-width;
    gap: 20px;
    &__title {
      font-size: v.$section-title-size;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: start;
      align-items: flex-end;
      gap: 4em;
    }
    .institute {
      padding: v.$section-padding;
      display: flex;
      flex-direction: column;
      justify-content: start;
      //align-items: baseline;
      color: c.$orange-light;
      img {
        padding-bottom: 10px;
      }
      &__name {
        font-size: 1.2em;
      }
      &__course {
        font-size: 1.5em;
      }
    }
  }
}

.contact {
  background-color: c.$orange-light;
  color: c.$grey-dark;
  display: flex;
  justify-content: center;
  padding: v.$section-padding;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: v.$text-width;
    &__title {
      font-size: v.$section-title-size;
    }
    &__items {
      @include q.phone {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 4em;
        padding: v.$section-padding;
      }
      @include q.tablet {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 4em;
        padding: v.$section-padding;
      }
      @include q.large-tablet {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 4em;
        padding: v.$section-padding;
      }
      @include q.laptop {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 4em;
        padding: v.$section-padding;
      }
      @include q.desktop {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 4em;
        padding: v.$section-padding;
      }
      img {
        border-radius: 50%;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      .about {
        color: c.$grey-dark;
        font-size: medium;
      }
      .contacts-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.9em;
      }
    }
  }
}

.footer {
  background-color: c.$orange-light;
  color: c.$grey-dark;
  display: flex;
  justify-content: center;
  padding: v.$section-padding;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: v.$text-width;
  }
}
